<h2 class="text-center my-4">Edit Category</h2>

<form class="form" action="/admin/categories/edit/{{categories._id}}?_method=PUT" method="post" enctype="multipart/form-data">
  <div class="form-group">
	<label for="name">Name</label>
	<input type="text" name="name" value="{{categories.name}}" placeholder="category name" class="form-control" required/>
  </div>
  <div class="form-group">
    <label for="name">Sequence</label>
    <input type="number" name="sequence" value="{{categories.sequence}}" placeholder="Sequence" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="image">Image</label>
    <input type="file" name="image" placeholder="category image" class="form-control"/>
  </div>
  <button type="submit" class="btn btn-info">Update Category</button>
</form>
