.ps-btn,button.ps-btn{background-color:#fcb800;color:#fff}.ps-btn:hover,button.ps-btn:hover{background-color:#fcb800}.header--electronic{background-color:#022335}.header--electronic .header__extra i{color:#fff}.header--electronic .header__extra span{background-color:#022335}.header--electronic .header__extra span i{color:#fff}.header--electronic .header__extra:hover>i{color:#ffc107}.header--electronic .header__extra:hover span{color:#ffc107}.header--electronic .ps-block--user-header i{color:#fff}.header--electronic .ps-block--user-header a{color:#fff}.header--electronic .ps-block--user-header a:hover{color:#ffc107}.header--electronic .ps-form--quick-search input{border-right:none}.header--electronic .ps-form--quick-search button{background-color:#fcb800;color:#fff}.header--electronic .header__top{background-color:#022335}.header--electronic .header__top .header__left p{color:#fff}.header--electronic .header__top .header__top-links>li>a{color:#fff}.header--electronic .header__top .header__top-links .ps-dropdown>a{color:#fff}.header--electronic .header__content{background-color:#022335}.header--electronic .header__content .menu--product-categories{display:block}.header--electronic .header__content .menu--product-categories .menu__toggle i{color:#fff}.header--electronic .header__content .menu--product-categories .menu__toggle span{display:none}.header--electronic .navigation{background-color:#022335}.header--electronic .menu--electronic>li>a{color:#fff;font-size:16px;text-transform:uppercase;font-weight:600}.header--electronic .menu--electronic>li>a i{vertical-align:middle;margin-right:6px;font-size:20px}.header--electronic .menu--electronic>li>a:hover{color:#ffc107}.header--electronic.header--sticky .header__content{background-color:#022335}.header--electronic.header--sticky .header__content .menu--product-categories .menu__toggle span{display:block;color:#fff}.header--mobile.electronic{background-color:#fff}.header--mobile.electronic .ps-cart--mini{text-align:left}.header--mobile.electronic .header__actions .ps-cart--mini>a{color:#fff}.header--mobile.electronic .header__actions .ps-cart--mini>a span{background-color:#022335}.header--mobile.electronic .header__actions .ps-block--user-header .ps-block__left i{color:#fff}.header--mobile.electronic .navigation--mobile{background-color:#022335}.header--mobile.electronic .ps-search--mobile{background-color:#022335}.navigation--list .navigation__item.active i,.navigation--list .navigation__item.active span,.navigation--list .navigation__item:active i,.navigation--list .navigation__item:active span,.navigation--list .navigation__item:focus i,.navigation--list .navigation__item:focus span,.navigation--list .navigation__item:hover i,.navigation--list .navigation__item:hover span{color:#ffc107}.ps-panel--sidebar .ps-panel__header{background-color:#022335}.ps-banner--furniture{position:relative}.ps-banner--furniture h4{margin-bottom:20px;font-size:16px;line-height:20px;font-weight:400;color:#0098ce}.ps-banner--furniture h3{font-size:36px;font-weight:300;line-height:1.2em}.ps-banner--furniture h3 strong{font-weight:600;color:#690}.ps-banner--furniture .ps-btn{margin-top:20px;padding:12px 24px}.ps-banner--furniture .ps-banner__content{max-width:1200px;width:100%;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);padding-left:140px}@media (max-width:1680px){.ps-banner--furniture h4{margin-bottom:10px}.ps-banner--furniture h3{font-size:40px;line-height:1.2em}}@media (max-width:1366px){.ps-banner--furniture h4{margin-bottom:10px;font-size:16px}.ps-banner--furniture h3{font-size:40px}.ps-banner--furniture h3 br{display:none}}@media (max-width:1199px){.ps-banner--furniture{min-height:400px}.ps-banner--furniture img{display:none;visibility:hidden;opacity:0}.ps-banner--furniture .ps-banner__content{padding:0 30px}}@media (max-width:479px){.ps-banner--furniture h3{font-size:24px}.ps-banner--furniture p{font-size:12px}}#homepage-7 .ps-home-banner{padding-top:30px;padding-bottom:40px}#homepage-7 .ps-home-banner .owl-slider .owl-item img{width:100%}#homepage-7 .ps-home-banner .container{display:-webkit-box;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;flex-flow:row nowrap}#homepage-7 .ps-home-banner .container>*{width:100%}#homepage-7 .ps-home-banner .container .ps-section__left{max-width:calc(100% - 380px);padding-right:30px}#homepage-7 .ps-home-banner .container .ps-section__right{max-width:380px}#homepage-7 .ps-home-banner .container .ps-section__right .ps-collection{margin-bottom:30px}#homepage-7 .ps-home-banner .container .ps-section__right .ps-collection:last-child{margin-bottom:0}@media (max-width:1199px){#homepage-7 .ps-home-banner .container{-webkit-box-orient:vertical;-webkit-box-direction:normal;flex-flow:column wrap}#homepage-7 .ps-home-banner .container .ps-section__left{max-width:100%;margin-bottom:30px;padding-right:0}#homepage-7 .ps-home-banner .container .ps-section__right{width:100%;max-width:100%;display:-webkit-box;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;flex-flow:row nowrap}#homepage-7 .ps-home-banner .container .ps-section__right .ps-collection{width:100%;max-width:50%;margin:0 10px}}#homepage-7 .ps-top-categories h3{font-size:24px}#homepage-7 .ps-promotions{padding:40px 0}@media (max-width:767px){#homepage-7 .ps-promotions .ps-collection{margin-bottom:30px}}#homepage-7 .ps-product-list{margin-bottom:50px}#homepage-7 .ps-deal-of-day .ps-product .ps-product__price{color:#690;font-size:18px}#homepage-7 .ps-deal-of-day .ps-product .ps-product__price del{margin-left:10px;font-size:14px}#homepage-7 .ps-deal-of-day .ps-product .ps-product__price small{margin-left:10px;color:red}#homepage-7 .ps-home-blog{padding-top:50px;padding-bottom:70px;background-color:#f5f5f5}#homepage-7 .ps-home-blog .ps-block--recent-viewed{padding-top:70px;border-top:1px solid #e3e3e3}.imgFixed{width:167px;height:167px;}.capitalize{text-transform:capitalize;}

img{
    object-fit:contain;
}

@media only screen and (max-width:800px){
    .carouselAdImg{
        width:100% !important;
        height:12rem !important;
    }
    .topSideAdImg{
        width:100% !important;
        height:10rem !important;
    }
    .midPageAdImg{
        width:100% !important;
        height:20rem !important;
    }
    .bottomPageAdImg1{
        width:100% !important;
        height:10rem !important;
    }
    .bottomPageAdImg2{
        width:100% !important;
        height:20rem !important;
    }
    .androidAppAdImg{
        width:100% !important;
        height:20rem !important;
    }
    .imgProductDetail{
        height:22em;
        width:100%;
    }
    .imgCat{
        width:100%;
        height:5.8em;
    }
    .imgSubCat{
        width:100%;
        height:10em;
    }
    .hideInMobile{
        display:none;
    }
    .centerMobile{
        text-align:center;
    }
    #menu-mobile .menu--mobile .current-menu-item span{
        margin-left:4.4rem;
        position:absolute;
    }
    #menu-mobile .menu--mobile .current-menu-item .fa{
        font-size:1.5em;
    }
    #menu-mobile .menu--mobile .current-menu-item a{
        display:flex;
    }
    .imgRoom{
        width:100%;
        height:13rem;
    }
    .marginBottomInMobile{
        margin-bottom:2%;
    }
    .slick-prev.slick-arrow{
        margin-left:1rem;
        z-index:1000;
    }
    .slick-next.slick-arrow{
        margin-left:-1rem;
        z-index:1000;
    }
    #homepage-1 .ps-home-banner{
        padding-top:0px;
        margin-bottom:0px;
    }
    .ps-collection{
        margin-bottom:0px !important;
    }
    .ps-section__header{
        margin-bottom:8px !important;
    }
}
@media only screen and (min-width:701px) and (max-width:800px){
    .midPageAdImg{
        margin-top:4rem !important;
    }
}
@media only screen and (min-width:801px){
    .carouselAdImg{
        width:100% !important;
        height:35rem !important;
    }
    .topSideAdImg{
        width:100% !important;
        margin-top:2rem;
        padding-left:5% !important;
        padding-right:5% !important;
    }
    .midPageAdImg{
        width:100% !important;
        height:20rem !important;
    }
    .bottomPageAdImg1{
        width:100% !important;
        height:20rem !important;
        margin-bottom:4rem;
    }
    .bottomPageAdImg2{
        width:100% !important;
        height:20rem !important;
        margin-bottom:4rem;
    }
    .androidAppAdImg{
        width:80% !important;
        height:38rem !important;
    }
    .imgProductDetail{
        height:22em;
        width:100%;
    }
    .imgCat{
        width:100%;
        height:5.8em;
    }
    .imgSubCat{
        width:100%;
        height:10em;
    }
    .imgRoom{
        width:100%;
        height:20rem;
    }
    .hideInDesktop{
        display:none;
    }
}
iframe{
    height:100vh;
}
::-webkit-scrollbar {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
.ps-block--user-header .ps-block__right a{
    color:white !important;
}
.ps-block--user-header .ps-block__right a:hover{
    color:#fcb800 !important;
}
.slick-prev:before, .slick-next:before{
    color:#fcb800 !important;
    font-size:24px !important;
}
.carouselAdImg,.topSideAdImg,.bottomPageAdImg1,.bottomPageAdImg2{
    object-fit: cover;
}
@media only screen and (min-width:0px) and (max-width:400px){
    .carouselAdImg{
        object-fit: contain;
    }
}