<div class="row" style="margin:4% 18%;">
    {{!-- <div class="col-md-6">
        <a href="/my-profile">
        <div class="card border-info mx-sm-1 p-3 bg-info">
            <div class="text-info text-center mt-3"><h4 class="text-white">My Profile</h4></div>
        </div>
        </a>
    </div>
    <div class="col-md-6">
        <a href="/my-orders">
        <div class="card border-success mx-sm-1 p-3 bg-success">
            <div class="text-success text-center mt-3"><h4 class="text-white">My Orders</h4></div>
        </div>
        </a>
    </div> --}}
</div>