<style>
  .tox-tinymce{
    height:20rem !important;
  }
</style>
<h2 class="text-center my-2">Add Product</h2>
<form action="/admin/products/create" method="post" enctype="multipart/form-data" >

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" id="name" placeholder="Enter Name" required>
      </div>

      <ul id="mainPointDiv">

      </ul>
      <input type="hidden" name="hidden_main_point">
      <div class="form-group">
        <label for="main_points">Main Points</label>
        <div class="row">
          <div class="col-md-10">
            <input type="text" class="form-control" placeholder="Enter point" id="main_point">
          </div>
          <div class="col-md-2" style="margin-top:0.6%;cursor:pointer;">
            <i class="fa fa-plus fa-2x" id="addPoint"></i>
          </div>
        </div>
      </div>

      <input type="hidden" name="hidden_description">
      <div class="form-group">
        <label for="description">Description</label>
        <textarea cols="30" rows="3" placeholder="Enter Description" id="description" class="form-control"></textarea>
      </div>

      <ul id="specsDiv">

      </ul>

      <input type="hidden" name="hidden_specs">
      <div class="form-group">
        <label for="specification">Specifications</label>
        <div class="row">
          <div class="col-md-2">
            <input type="text" class="form-control" placeholder="key" id="spec_key">
          </div>
          <div class="col-md-8">
            <input type="text" class="form-control" placeholder="Value" id="spec_value">
          </div>
          <div class="col-md-2" style="margin-top:0.6%;cursor:pointer;">
            <i class="fa fa-plus fa-2x" id="spec_button"></i>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" name="category" id="category" required>
        {{#each categories}}
          <option value="{{_id}}">{{name}}</option>
        {{/each}}
        </select>
      </div>

      <div class="form-group">
        <label for="subcategory">Sub Category</label>
        <select class="form-control" name="subcategory" id="subcategory" required>
        
        </select>
      </div>

      <div class="form-group">
        <label for="room">Room</label>
        <select class="form-control" name="room" id="room" required>
          {{#each rooms}}
          <option value="{{_id}}">{{name}}</option>
          {{/each}}
        </select>
      </div>

      <div class="form-group">
        <label for="brand">Brand</label>
        <input type="text" placeholder="Enter brand" name="brand" required class="form-control">
      </div>

      <div class="form-group">
        <label for="size">Ask Size</label>
        <select class="form-control" name="size" id="size" required>
          <option value="no">No</option>
          <option value="yes">Yes</option>
        </select>
      </div>
      
      <div class="form-group" id="sizesAvailable">
        <label for="sizesAvailable">Size Available (Enter comma separated, ex- S,XS,M)</label>
        <input type="text" placeholder="Enter available sizes" name="sizesAvailable" class="form-control">
      </div>

      <div class="form-group">
        <label for="color">Ask Color</label>
        <select class="form-control" name="color" id="color" required>
          <option value="no">No</option>
          <option value="yes">Yes</option>
        </select>
      </div>
      
      <div class="form-group" id="colorsAvailable">
        <label for="colorsAvailable">Color Available (Enter comma separated, ex- blue,red)</label>
        <input type="text" placeholder="Enter available colors" name="colorsAvailable" class="form-control">
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <label for="price">Price</label>
            <input type="number" min="0" placeholder="Enter price" name="price" required class="form-control">
          </div>
          <div class="col-md-4">
            <label for="discount">Discount (In %)</label>
            <input type="number" min="0" placeholder="Enter discount" name="discount" required class="form-control">
          </div>
          <div class="col-md-4">
            <label for="quantity">Quantity</label>
            <input type="number" min="0" placeholder="Enter quantity" name="quantity" required class="form-control">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="tags">Tags</label>
        <input type="text" name="tags" class="form-control" id="tags" placeholder="Enter tags" required>
      </div>

      <div class="form-group">
        <label for="shipping_price">Shipping Price</label>
        <input type="number" name="shipping_price" class="form-control" id="shipping_price" placeholder="Enter shipping price" required>
      </div>

			<div class="form-group">
        <label for="images">Upload Images</label>
        <input type="file" name="images" class="form-control" multiple required>
      </div>

      <div class="form-group">
        <label for="vendor">Vendor</label>
        <input type="text" name="vendor" class="form-control" id="vendor" placeholder="Enter Vendor" required>
      </div>

      <div class="form-group">
        <label for="status">Status</label>
        <select class="form-control" name="status" id="status" required>
          <option value="publish">Publish</option>
          <option value="draft">Draft</option>
        </select>
      </div>

			<button type="submit" class="btn btn-info btn-block">Save</button>
</form>

<script>

        tinymce.init(
            {
                selector:'textarea',plugins: 'print preview paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap quickbars emoticons',

                toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl',

                toolbar_mode: "floating",

                menubar: "file edit view insert format tools table help",

                init_instance_callback: function(editor) {
                  editor.on('keyup', function(e) {
                    $("input[name=hidden_description]").val(tinymce.activeEditor.getContent());
                  });
                }                                                                                        
            });  

    </script>

<script type="text/javascript">
  let mainPoints=[];
  let specs=[];
  $(document).on("click","#addPoint",function(){
    const mainPoint=$("#main_point").val();
    if(mainPoint && mainPoint!=""){
      mainPoints.push(mainPoint);
      $("#mainPointDiv").append(`<li>${mainPoint}</li>`);
      $("#main_point").val("");
      $("input[name=hidden_main_point]").val(JSON.stringify(mainPoints));
    }
  });

  $(document).on("click","#spec_button",function(){
    const specs_key=$("#spec_key").val();
    const specs_value=$("#spec_value").val();
    if(specs_key!="" && specs_value!=""){
      const spec={key:specs_key,value:specs_value};
      specs.push(spec);
      $("#spec_key").val("");
      $("#spec_value").val("");
      $("input[name=hidden_specs]").val(JSON.stringify(specs));
      $("#specsDiv").append(`<li>${specs_key}:${specs_value}</li>`);
    }
  });
  $(document).on("change","#category",function(){
    const cat_id=$(this).val();
    $.ajax({
      url:`/admin/categories/getSubcategories/${cat_id}`
    }).then(response=>{
      $("#subcategory").html(response);
    });
  });
  $("#category").trigger("change");
  $(document).on("keyup","#tinymce",function(){
    console.log('this',$(this),$(this).html());
  });

  $(document).on("change","#size",function(){
    const size=$(this).val();
    if(size=="yes"){
      $("#sizesAvailable").show();
    }else{
      $("#sizesAvailable").hide();
    }
  });

  $("#size").trigger("change");

  $(document).on("change","#color",function(){
    const color=$(this).val();
    if(color=="yes"){
      $("#colorsAvailable").show();
    }else{
      $("#colorsAvailable").hide();
    }
  });

  $("#color").trigger("change");
</script>