<div class="topbar">
      <nav class="navbar-custom">
         <ul class="list-unstyled topbar-nav mb-0">
            <li><a href="../ecommerce/ecommerce-index.html"><span class="responsive-logo"><img src="{{config.root}}img/admin/logo-sm.png" alt="logo-small" class="logo-sm align-self-center" height="34"></span></a></li>
            <li>
               <button class="button-menu-mobile nav-link">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu align-self-center">
                     <line x1="3" y1="12" x2="21" y2="12"></line>
                     <line x1="3" y1="6" x2="21" y2="6"></line>
                     <line x1="3" y1="18" x2="21" y2="18"></line>
                  </svg>
               </button>
            </li>
            <li class="dropdown" style="float:right;">
               <a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                  <img src="{{config.root}}img/admin/user-1.jpg" alt="profile-user" class="rounded-circle"> 
                  <span class="ml-1 nav-user-name hidden-sm">Admin 
                     <i class="mdi mdi-chevron-down"></i></span>
                     </a>
                     <div class="dropdown-menu dropdown-menu-right" style="">
                     <a class="dropdown-item" href="#"><i class="dripicons-user text-muted mr-2"></i> Profile</a>
                        <a class="dropdown-item" href="#"><i class="dripicons-wallet text-muted mr-2"></i> My Wallet</a> 
                        <a class="dropdown-item" href="#"><i class="dripicons-gear text-muted mr-2"></i> Settings</a> 
                        <a class="dropdown-item" href="#"><i class="dripicons-lock text-muted mr-2"></i> Lock screen</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item bg-light" href="#"><i class="dripicons-exit text-muted mr-2"></i> Logout</a>
                        </div>
               </li>
         </ul>
      </nav>
      <!-- end navbar-->
   </div>